.img-thumbnail {
  width: 100px;
  height: 50px;
}

.container {
  position: relative;
  width: 50%;
}
.container:hover .overlay {
  height: 100%;
}

.image {
  display: block;
  width: 65%;
  height: auto;
}

