blockquote {
  flex-direction: row;
  width: 50%;
  padding: 20px;
  box-shadow: inset 0 -3em 3em #0a0d184d, 0 0 0 2px white,
    0.3em 0.3em 1em rgba(121, 117, 117, 0.6);
}
.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 1px solid #a5a5a8;
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.overlay {
text-align: center;
/* text color-scheme: white-space: ;; */

}

table{
  width:50%;
  /* border-collapse:collapse; */
  text-align:center;
  border:1px solid #00F;
  font-size:12px;

}
tr{
  border:1px solid black;
}